---
import Home from "../layouts/Homepage.astro";
import Card from "../components/CardNoLink.astro";
import works from "./workexperience.json";
import {
	Astronav,
	MenuItems,
	MenuIcon,
	Dropdown,
	DropdownItems,
	DropdownSubmenu,
} from "astro-navbar";

type work = {
	company: string;
	position: string;
	type: string;
	year: string;
	link: string;
}[];

const listOfWork: work = works.work;
---

<Home title="Spencer Mendelsohn">
	<body>
		<h1>
			<span class="text-gradient-links">Spencer Mendelsohn</span>
		</h1>
		<h2 class="text-gradient"><i>Software Engineer</i></h2>
		<main>
			<p>
				I'm a Software Enginner in my 4th year at Northeastern
				University studying Computer Science with a concentration in
				Software. In my free time I like to cook and do photography.
			</p>
			<h2>About</h2>
			<p>
				<code class="instructions">Python</code>
				<code class="instructions">Java</code>
				<code class="instructions">JavaScript</code>
				<code class="instructions">TypeScript</code>
				<code class="instructions">AWS</code>
				<code class="instructions">SQL</code>
			</p>
			<ul role="list" class="link-card-grid">
				{
					listOfWork.map(
						({ position, company, type, year, link }) => (
							<Card
								link={link}
								position={position}
								company={company}
								type={type}
								year={year}
							/>
						),
					)
				}
			</ul>
		</main>
	</body>
</Home>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
	}

	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>
